@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Noto+Sans:wght@200;400&display=swap');
@import url(about.css);

/* General  */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btnn {
    color: #529ccd;
    height: 45px;
    width: 120px;
    border: 1px solid #529ccd;
    font-size: 16px;
    border-radius: 0%;
    font-weight: 400;
    margin-top: 50px;
}

/* banner here  */



/* Mobile First Background Image */
.header {
    background-image: url(../images/banner.jpg);
    /* background-attachment: fixed; Disable parallax for mobile. */
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    /* background-position: 0 50px; */
    height: 100vh;
    width: 100%;
}

/* .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.35);
    height: 100vh;
    width: 100%;
  } */

.hero-text {
    position: absolute;
    top: 60%;
    left: 5%;
    margin: auto;
    padding: 2em;
    text-align: left;
    color: #529ccd;

}

/* .head1{
    font-size: 50px;
  }

  .head2{
    font-size: 40px;
  }
   */
.separator {
    padding: 5% 0;
}


.button {
    padding: 3%;
    border-radius: 5%;
    background-color: transparent;
    border: 2px solid #529ccd;
    color: #529ccd;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #529ccd;
    color: white;
}

/**
 * Media Queries
 */
@media (min-width: 768px) {
    .header {
        background-attachment: fixed;
        background-image: url(../images/banner.jpg);
        background-position: top center;
    }
}

@media (max-height: 325px) {
    .hero-text {
        padding: 0.1em 0.5em;
        top: 0;
    }
}


/* .........TOP-BAR--------------  */

@media only screen and (max-width: 323px) {
    .top-none {
        display: none;
    }
}


#topbar {
    /* background: #fbfbfb; */
    font-size: 15px;
    height: 40px;
    padding: 0;
    margin: auto;
}

#topbar .contact-info a {
    line-height: 0;
    color: #444444;
    transition: 0.3s;
    text-decoration: none;
}

#topbar .contact-info a:hover {
    color: blue;
}

#topbar .contact-info i {
    /* color: blue; */
    line-height: 0;
    margin-right: 5px;
}

.fa-envelope {
    color: orange;
}

.phone-icon {
    color: green;
}

.fa-twitter:hover {
    color: rgb(0, 200, 255);
}

.fa-instagram:hover {
    color: red;
}

.fa-facebook:hover {
    color: blue;
}

.fa-linkedin:hover {
    color: rgb(0, 102, 255);
}

#topbar .contact-info .phone-icon {
    margin-left: 15px;
}

#topbar .social-links a {
    color: #6f6f6f;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}


/* nav  */

.logo {
    height: 51px;
    /* padding-left: 18px; */
}

.nav-item a:hover {
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}


/* --------------BANNER------------- */

.banner {
    height: 100%;
}

.banner-content {
    border: 4px solid white;
    width: 34.675rem;
    height: 21.8rem;
    top: 9.688rem;
    /* left: 41.313rem; */
    right: 19.4rem;
    padding-top: 1.625rem;
    padding-left: 1.563rem;
}

.banner-content h1 {
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 1.1;
    font-family: 'Noto Sans', sans-serif;
}

.banner-content p {
    font-size: 1.875rem;
    line-height: 1.1;
    padding-top: 1.563rem;
    font-family: 'Noto Sans', sans-serif;
}

/* --------------CONTENTS------------- */

.image1 {
    height: 16.87rem;
    width: 34.75rem;
}

.image2 {
    height: 16.87rem;
    width: 34.75rem;
    margin-top: 1.87rem;
}

.contents h6,
h2,
.p1,
.p2 {
    font-family: 'Noto Sans', sans-serif;
}

.contents h6 {
    margin-top: 5rem;
    font-size: 1.25rem;
    color: grey;
}

.contents h2 {
    font-size: 2.25rem;
    margin-top: 1.25rem;
}

.contents .p1 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 40px;
    /* text-align: justify; */
}

.contents .p2 {
    font-size: 1rem;
    margin-top: 13px;
    color: rgba(128, 128, 128, 0.772);
    /* text-align: justify; */
}

/* Technologies, Cars, Robots  */

.tcr {
    margin-top: 100px;
}

.technologies {
    background-color: #17cad0;
    padding: 60px;
}

.t-p {
    padding-left: 48px;
}

.cars {
    padding: 60px;
    /* background-color: red; */
}

.c-p {
    padding-left: 48px;
}

.robots {
    padding: 60px;
    /* background-color: yellow; */
}

.r-p {
    padding-left: 39px;
}

/* -------------------TESLA ELECTRIC TRUCK-------------------- */

.truck h6,
h2,
.p1,
.p2 {
    font-family: 'Noto Sans', sans-serif;
}

.truck h6 {
    margin-top: 5rem;
    font-size: 20px;
    color: grey;
}

.truck h2 {
    font-size: 36px;
    margin-top: 1.25rem;
}

.truck .p1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    /* text-align: justify; */
}

.truck .p2 {
    font-size: 16px;
    margin-top: 13px;
    color: rgba(128, 128, 128, 0.772);
    /* text-align: justify; */
}

.image-3 {
    width: 34.763rem;
    height: auto;
    border-radius: 5rem 0px 5rem 0px;
    margin-top: 3.688rem;
}

/* --------------CAR IMAGE-------------  */




/* .car-img img {
    width: 12.844rem;
    height: 12.638rem;
    border-radius: 6.25rem;
} */

.car-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}



/* --------------- Team ----------------------  */
/* .section-bg {
    background-color: #e0ffff;
} */

#team{
    overflow:hidden;
}

.team-h2,
.team-p {

    font-family: 'Fuzzy Bubbles', cursive;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
    padding: 30px 20px;
    background: #fff;
}

.team .member img {
    max-width: 60%;
    border-radius: 50%;
    margin: 0 0 30px 0;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}

.team .member .social {
    margin-top: 15px;
}

.team .member .social a {
    color: #919191;
    transition: 0.3s;
}

.team .member .social a:hover {
    color: #5cb874;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}


/* ..........FOOTER........... */



#footer {
    background: #293333;
    color: #fff;
    padding: 30px 0;
}

#footer h3 {
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    display: inline-block;
    /* background-color: rgb(4, 192, 255); */
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a.twitter {
    background-color: cyan;
    color: white;
}

#footer .social-links a.facebook {
    background-color: blue;
    color: white;
}

#footer .social-links a.instagram {
    background-color: red;
    color: white;
}

#footer .social-links a.linkedin {
    background-color: rgb(0, 98, 255);
    color: white;
}

#footer .social-links a.google-plus {
    background-color: rgb(53, 210, 241);
    color: white;
}

#footer .social-links a:hover {
    background-color: #000000;
    color: #fff !important;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 14px;
}

.credits-a {
    text-decoration: none;
    color: rgb(4, 192, 255);
}

.credits-a:hover {
    color: white;
    text-decoration: underline;
}

/* -----------------MACHINE--------------  */


.machine .h4,
.p4 {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

.machine .h-1,
.h-2,
.h-3,
.p--1,
.p--2,
.p--3 {
    color: white;
    margin-left: 80px;
    margin-right: 20px;
}

.machine .h-1 {
    margin-top: 4.5rem;
    font-size: 24px;
}

.machine .h-2 {
    font-size: 1.5rem;
    margin-top: 2.625rem;
}

.machine .h-3 {
    font-size: 1.5rem;
    margin-top: 2.625rem;
}


.machine .h-4 {
    font-size: 2.188rem;
    padding-top: 12.5rem;
    text-align: right;
    margin-left: 20px;
    margin-right: 80px;
    color: white;
}


.machine .p--1 {
    padding-top: 18px;
    font-size: 1.063rem;
    /* text-align: justify; */
}

.machine .p--2 {
    padding-top: 18px;
    font-size: 1.063rem;
    /* text-align: justify; */
}

.machine .p--3 {
    padding-top: 18px;
    font-size: 1.036rem;
    /* text-align: justify; */
    margin-bottom: 35px;
}

.machine .p--4 {
    font-size: 18px;
    padding-top: 25px;
    text-align: right;
    margin-left: 30px;
    margin-right: 80px;
    color: white;
}

.machine1 {
    background-color: #000000d6;
}

.machine2 {
    background-color: #3ee6fdcf;
}

/* ...............GADGETS...............  */

.img-1 {
    width: 16.481rem;
    height: 15.95rem;
    border-radius: 4.25rem 0px 0px 0px;
}

.img-2 {
    width: 16.481rem;
    height: 15.95rem;
    border-radius: 0px 0px 4.25rem 0px;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    border-top: 3px solid #66d0d5;
    border-bottom: 3px solid #66d0d5;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
    font-size: 20px;
    color: #66d0d5;
    float: left;
    width: 44px;
    height: 44px;
    background: #eaf6ed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222222;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555555;
}

.contact .info .social-links {
    padding-left: 60px;
}

.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.contact .info .social-links a:hover {
    background: #66d0d5;
    color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #66d0d5;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    border-top: 3px solid #66d0d5;
    border-bottom: 3px solid #66d0d5;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #66d0d5;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #66d0d5;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #66d0d5;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background-color: #66d0d5;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #66d0d5;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Query For 991  */

@media screen and (max-width: 991px) {
    /* General  */

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .login-btn {
        width: 90px;
    }

    .btnn {
        color: black;
        height: 45px;
        width: 120px;
        border: 1px solid #17cad0;
        font-size: 16px;
        border-radius: 0%;
        font-weight: 400;
        margin-top: 50px;
    }

    /* --------------CONTENTS------------- */

    .content_s {
        max-width: 100%;
        padding: 0px 100px;
    }

    .image1 {
        width: 100%;
        object-fit: cover;
    }

    .image2 {
        width: 100%;
        object-fit: cover;
        margin-top: 1.87rem;
    }

    .contents h6,
    h2,
    .p1,
    .p2 {
        font-family: 'Noto Sans', sans-serif;
    }

    .contents h6 {
        margin-top: 33px;
        font-size: 1.125rem;
        color: grey;
    }

    .contents h2 {
        font-size: 1.875rem;
        margin-top: 13px;
    }

    .contents .p1 {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 50px;
        /* text-align: justify; */
    }

    .contents .p2 {
        font-size: 1rem;
        margin-top: 13px;
        color: rgba(128, 128, 128, 0.772);
    }

    /* Technologies, Cars, Robots  */

    .tcr {
        margin-top: 100px;
        max-width: 100%;
        padding: 0px 100px;
    }

    .technologies {
        background-color: #17cad0;
        padding: 60px;
    }

    .t-p {
        padding-left: 48px;
    }

    .cars {
        padding: 60px;
        /* background-color: red; */
    }

    .c-p {
        padding-left: 48px;
    }

    .robots {
        padding: 60px;
        /* background-color: yellow; */
    }

    .r-p {
        padding-left: 39px;
    }

    /* -------------------TESLA ELECTRIC TRUCK-------------------- */

    .truckkk {
        max-width: 100%;
        padding: 0px 100px;
    }

    .truck h6,
    h2,
    .p1,
    .p2 {
        font-family: 'Noto Sans', sans-serif;
    }

    .truck h6 {
        margin-top: 29px;
        font-size: 20px;
        color: grey;
    }

    .truck h2 {
        font-size: 30px;
        margin-top: 13px;
    }

    .truck .p1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 33px;
        /* text-align: justify; */
    }

    .truck .p2 {
        font-size: 16px;
        margin-top: 13px;
        color: rgba(128, 128, 128, 0.772);
        /* text-align: justify; */
    }

    .image-3 {
        width: 100%;
        border-radius: 0px;
        margin-top: 0px;
        height: 600px;
        object-fit: cover;
    }

    /* --------------CAR IMAGE-------------  */

    .car-image {
        max-width: 100%;
        padding: 0px 100px;
    }

    .car-img img {
        width: 100%;
        height: 172px;
        object-fit: cover;
        border-radius: 0%;
        /* margin-bottom: 20px; */
        /* background-size: cover; */
    }


    /* machine  */

    .machine2 {
        background-color: #17cad0;
        position: relative;
    }

    .machine2-border {
        border: 7px solid white;
        width: 350px;
        height: 350px;
        position: absolute;
        top: 160px;
        right: 137px;
    }

    .machine .h-1,
    .h-2,
    .h-3,
    .p--1,
    .p--2,
    .p--3 {
        color: white;
        /* margin-left: 50px; */
        margin-right: 50px;
    }

    .machine .h-1 {
        margin-top: 50px;
        font-size: 24px;
    }

    .machine .h-2 {
        font-size: 1.5rem;
        margin-top: 2.625rem;
    }

    .machine .h-3 {
        font-size: 1.5rem;
        margin-top: 2.625rem;
    }


    .machine .h-4 {
        font-size: 36px;
        text-align: right;
        padding: 0;
        margin-top: 350px;
        color: white;
        margin-right: 50px;
    }


    .machine .p--1 {
        padding-top: 18px;
        font-size: 1.063rem;
    }

    .machine .p--2 {
        padding-top: 18px;
        font-size: 1.063rem;
    }

    .machine .p--3 {
        padding-top: 18px;
        font-size: 1.036rem;
        margin-bottom: 35px;
        margin-bottom: 50px;
    }

    .machine .p--4 {
        font-size: 18px;
        text-align: right;
        padding: 0px;
        color: white;
        /* padding-right: 0px; */
        margin: 0;
        margin-right: 50px;
        margin-top: 15px;
    }

    .machine1 {
        background-color: #000000d6;
    }


}

/* --------------- Team ----------------------  */
/* .section-bg {
    background-color: #e0ffff;
} */

.team-h2,
.team-p {

    font-family: 'Fuzzy Bubbles', cursive;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
    padding: 30px 20px;
    background: #fff;
}

.team .member img {
    max-width: 60%;
    border-radius: 50%;
    margin: 0 0 30px 0;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}

.team .member .social {
    margin-top: 15px;
}

.team .member .social a {
    color: #919191;
    transition: 0.3s;
}

.team .member .social a:hover {
    color: #5cb874;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}


/* ..........FOOTER........... */



#footer {
    background: #293333;
    color: #fff;
    padding: 30px 0;
}

#footer h3 {
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    display: inline-block;
    /* background-color: rgb(4, 192, 255); */
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a.twitter {
    background-color: cyan;
    color: white;
}

#footer .social-links a.facebook {
    background-color: blue;
    color: white;
}

#footer .social-links a.instagram {
    background-color: red;
    color: white;
}

#footer .social-links a.linkedin {
    background-color: rgb(0, 98, 255);
    color: white;
}

#footer .social-links a.google-plus {
    background-color: rgb(53, 210, 241);
    color: white;
}

#footer .social-links a:hover {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 14px;
}

.credits-a {
    text-decoration: none;
    color: rgb(4, 192, 255);
}

.credits-a:hover {
    color: white;
    text-decoration: underline;
}


/* Media Query For 767  */

@media (min-width: 478px) and (max-width: 767px) {
    /* General  */

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .login-btn {
        width: 90px;
    }

    .btnn {
        color: black;
        height: 45px;
        width: 120px;
        border: 1px solid #17cad0;
        font-size: 16px;
        border-radius: 0%;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 33px;
    }

    /* --------------CONTENTS------------- */

    .content_s {
        max-width: 100%;
        padding: 0px 100px;
    }

    .image1 {
        width: 100%;
        height: 308px;
        object-fit: cover;
        margin-top: 70px;
    }

    .image2 {
        width: 100%;
        object-fit: cover;
        margin-top: 1.87rem;
        height: 308px;
    }

    .contents h6,
    h2,
    .p1,
    .p2 {
        font-family: 'Noto Sans', sans-serif;
    }

    .contents h6 {
        margin-top: 33px;
        font-size: 1.125rem;
        color: grey;
    }

    .contents h2 {
        font-size: 1.875rem;
        margin-top: 13px;
    }

    .contents .p1 {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 50px;
        /* text-align: justify; */
    }

    .contents .p2 {
        font-size: 1rem;
        margin-top: 13px;
        color: rgba(128, 128, 128, 0.772);
    }

    /* Technologies, Cars, Robots  */

    .tcr {
        margin-top: 100px;
        max-width: 100%;
        padding: 0px 100px;
    }

    .technologies {
        background-color: #17cad0;
        padding: 60px;
    }

    .t-p {
        padding-left: 48px;
    }

    .cars {
        padding: 60px;
        /* background-color: red; */
    }

    .c-p {
        padding-left: 48px;
    }

    .robots {
        padding: 60px;
        /* background-color: yellow; */
    }

    .r-p {
        padding-left: 39px;
    }

    /* -------------------TESLA ELECTRIC TRUCK-------------------- */

    .truckkk {
        max-width: 100%;
        padding: 0px 100px;
    }

    .truck h6,
    h2,
    .p1,
    .p2 {
        font-family: 'Noto Sans', sans-serif;
    }

    .truck h6 {
        margin-top: 29px;
        font-size: 20px;
        color: grey;
    }

    .truck h2 {
        font-size: 30px;
        margin-top: 13px;
    }

    .truck .p1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 33px;
        /* text-align: justify; */
    }

    .truck .p2 {
        font-size: 16px;
        margin-top: 13px;
        color: rgba(128, 128, 128, 0.772);
        /* text-align: justify; */
    }

    .image-3 {
        width: 100%;
        border-radius: 0px;
        margin-top: 70px;
        height: auto;
        margin-bottom: 40px;
        object-fit: cover;
    }

    /* --------------CAR IMAGE-------------  */

    .car-image {
        /* max-width: 100% !important; */
        /* padding: 0px 100px; */
    }

    #car-1 {
        margin-top: 50px;
    }

    .car-img img {
        width: 392px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 25px;
        border-radius: 0%;
        /* background-size: cover; */
    }


    /* machine  */

    .machine2 {
        background-color: #293333;
        ;
        position: relative;
    }




    .machine2-border {
        border: 7px solid white;
        width: 460px;
        height: 300px;
        position: absolute;
        top: 150px;
        right: 135px;
    }



    .machine .h-1,
    .h-2,
    .h-3,
    .p--1,
    .p--2,
    .p--3 {
        color: white;
        /* margin-left: 50px; */
        margin-right: 50px;
    }

    .machine .h-1 {
        margin-top: 50px;
        font-size: 24px;
    }

    .machine .h-2 {
        font-size: 1.5rem;
        margin-top: 2.625rem;
    }

    .machine .h-3 {
        font-size: 1.5rem;
        margin-top: 2.625rem;
    }


    .machine .h-4 {
        font-size: 36px;
        text-align: right;
        padding: 0;
        margin-top: 210px;
        color: white;
        margin-right: 145px;
    }


    .machine .p--1 {
        padding-top: 18px;
        font-size: 1.063rem;
    }

    .machine .p--2 {
        padding-top: 18px;
        font-size: 1.063rem;
    }

    .machine .p--3 {
        padding-top: 18px;
        font-size: 1.036rem;
        margin-bottom: 35px;
        margin-bottom: 50px;
    }

    .machine .p--4 {
        font-size: 18px;
        text-align: right;
        padding: 0px;
        color: white;
        /* padding-right: 0px; */
        margin: 0;
        margin-right: 145px;
        margin-left: 145px;
        margin-top: 15px;
        margin-bottom: 350px;
    }

    .machine1 {
        background-color: #293333;
    }


}

@media screen and (max-width: 479px) {
    .btnn {
        color: black;
        height: 45px;
        width: 120px;
        border: 1px solid #17cad0;
        font-size: 16px;
        border-radius: 0%;
        font-weight: 400;
        margin-top: 50px;
        padding: 0;
    }

    /* --------------BANNER------------- */



    .banner {
        height: 100%;
        width: 100%;
    }

    #banner-3 {
        display: none;
    }

    .banner-content {
        border: 4px solid white;
        width: 22.5rem;
        height: 21.8rem;
        top: 29.688rem;
        left: 48px;
        padding-top: 1.625rem;
        padding-left: 1rem;
    }

    .banner-content h1 {
        font-weight: 400;
        font-size: 3.3rem;
        line-height: 1.1;
        font-family: 'Noto Sans', sans-serif;
    }

    .banner-content p {
        font-size: 27px;
        line-height: 1.1;
        padding-top: 1.563rem;
        font-family: 'Noto Sans', sans-serif;
    }


    /* contents  */
    .content_s {
        padding: 0px 30px;
    }

    .contents h6,
    h2,
    .p1,
    .p2 {
        font-family: 'Noto Sans', sans-serif;
    }

    .contents h6 {
        margin-top: 100px;
        font-size: 18px;
        color: grey;
    }

    .contents h2 {
        font-size: 30px;
        margin-top: 13px;
    }

    .contents .p1 {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 26px;
        /* text-align: justify; */
    }

    .contents .p2 {
        font-size: 1rem;
        margin-top: 37px;
        color: rgba(128, 128, 128, 0.772);
        text-align: justify;
    }

    .image1 {
        margin-top: 50px;
        width: 100%;
        object-fit: cover;
    }

    .image2 {
        width: 100%;
        margin-top: 1.87rem;
        object-fit: cover;
    }

    /* Technologies, Cars, Robots  */

    .tcr {
        margin-top: 100px;
        padding: 0px 30px;
    }

    .technologies {
        background-color: #17cad0;
        padding: 30px;
    }

    .t-p {
        padding-left: 48px;
    }

    .cars {
        padding: 30px;
        /* background-color: red; */
    }

    .c-p {
        padding-left: 48px;
    }

    .robots {
        padding: 30px;
        /* background-color: yellow; */
    }

    .r-p {
        padding-left: 39px;
    }

    /* tesla electric truck  */

    .truckkk {
        padding: 0px 30px;
    }

    .truck h6,
    h2,
    .p1,
    .p2 {
        font-family: 'Noto Sans', sans-serif;
    }

    .truck h6 {
        margin-top: 70px;
        font-size: 20px;
        color: grey;
    }

    .truck h2 {
        font-size: 30px;
        margin-top: 13px;
    }

    .truck .p1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 33px;
        /* text-align: justify; */
    }

    .truck .p2 {
        font-size: 16px;
        margin-top: 13px;
        color: rgba(128, 128, 128, 0.772);
        /* text-align: justify; */
    }

    .image-3 {
        width: 100%;
        height: auto;
        border-radius: 5rem 0px 5rem 0px;
        margin-top: 3.688rem;
        object-fit: cover;
    }

    /* car image  */

    @media all and (max-width: 479px) {

        .car-image {
            padding: 0px 50px;
        }

        .car-img img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 0%;
        }
    }

    /* -----------------MACHINE--------------  */


    .machine .h4,
    .p4 {
        font-family: 'Noto Sans', sans-serif;
        color: black;
    }

    .machine .h-1,
    .h-2,
    .h-3,
    .p--1,
    .p--2,
    .p--3 {
        color: white;
        margin-left: 50px;
        margin-right: 50px;
    }

    .machine .h-1 {
        margin-top: 50px;
        font-size: 24px;
    }

    .machine .h-2 {
        font-size: 1.5rem;
        margin-top: 2.625rem;
    }

    .machine .h-3 {
        font-size: 1.5rem;
        margin-top: 2.625rem;
    }


    .machine .h-4 {
        font-size: 2.188rem;
        text-align: right;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        padding: 0;
    }


    .machine .p--1 {
        padding-top: 18px;
        font-size: 1.063rem;
    }

    .machine .p--2 {
        padding-top: 18px;
        font-size: 1.063rem;
    }

    .machine .p--3 {
        padding-top: 18px;
        font-size: 1.036rem;
        margin-bottom: 35px;
        margin-bottom: 50px;
    }

    .machine .p--4 {
        font-size: 18px;
        padding-top: 25px;
        text-align: right;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .machine1 {
        background-color: #000000d6;
    }

    .machine2 {
        background-color: #000000d6;
    }

}
